
# API Configuration
API_TOKEN="GnBPqXvLBAvaJvPYWgBLeCoz4QceRuyz8uYv45dfhkul5uRBs4q3UQxevAMdFdDLMOcg"
JWT_SECRET="B424HubSnd8BDCfRtdCVAsdf345RL68nkujSMS46jAcnoAfOelU3tWgUFAuRpWk"
PURGE_TOKEN="5azdEF3iuw8oJdfg45ngKWm3sUn3Jl"

PUBLIC_API_URL="http://localhost:4321/api/v1"
PUBLIC_API_BASE_URL="http://localhost:4321/"
STOREFRONT_URL="http://localhost:4322"
CDN_DOMAIN_URL ="cdn.scalius.com"
CSP_ALLOWED ="cdn.jsdelivr.net,store.scalius.com,admin.scalius.com,scalius.com,connect.facebook.net,facebook.com,firebaseinstallations.googleapis.com,www.gstatic.com,leaflitepdfeditor.site"
