main = "./dist/_worker.js/index.js"
compatibility_date = "2025-09-15"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

workers_dev = false
preview_urls = false

[placement]
mode = "smart"

[assets]
binding = "ASSETS"
directory = "./dist"

[[kv_namespaces]]
binding = "CACHE_CONTROL"
id = "b69ad8d7d9b342bb83849caef7142842"

